@model Reservations.App.Models.ReservationViewModel
@using Reservations.App.Helper
@using Reservations.Core
@{
    ViewBag.Title = Localization.TitleCreateReservation;
    ViewBag.LabelBtn = Localization.BtnReservationList;
    ViewBag.Action = "Index";
    ViewBag.Controller = "Reservations";
}


@using (Html.BeginForm("Create", "Reservations", new {ViewBag.page, ViewBag.sort}, FormMethod.Post, new {@id = "form-create", data_bind = "submit: sendResevation" }))
{
    @Html.AntiForgeryToken()

    <article class="create-edit-contact">

        @Html.HiddenFor(model => model.Descriptions, new {data_bind = "value: description"})
        @Html.HiddenFor(model => model.Contact.Id, new {data_bind = "value: contacId"})
        @Html.HiddenFor(model => model.RanKing)
        @Html.HiddenFor(model => model.CreateDate)
        @Html.HiddenFor(model => model.ContactId, new {data_bind = "value: contacId"})
        @Html.HiddenFor(model => model.Contact.ContactTypeId, new {data_bind = "value: contactTypeId"})

        <div class="top">
            <div class="row">


                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="my-input-group">
                        <div class="form-group has-feedback">
                            <img src="~/Content/Images/user.png"/>
                            @Html.EditorFor(model => model.Contact.Name,
                                new
                                {
                                    htmlAttributes = new
                                    {
                                        @class = "form-control input-lg", @id = "imp-contact",
                                        @placeholder = @Localization.ContactNameLabel, data_bind = "value: contactName"
                                    }
                                })
                        </div>
                        @Html.ValidationMessageFor(model => model.Contact.Name, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="my-input-group">
                        <div class="form-group has-feedback">
                            <img src="~/Content/Images/type.png"/>
                            @Html.DropDownList("ContactTypeId", null, @Localization.ContactType,
                                htmlAttributes: new {@class = "form-control input-lg", data_bind = "value: contactTypeId"})
                        </div>
                        @Html.ValidationMessageFor(model => model.Contact.ContactTypeId, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="my-input-group">
                        <div class="form-group has-feedback">
                            <img src="~/Content/Images/phone.png"/>
                            @Html.EditorFor(model => model.Contact.PhoneNumber,
                                new
                                {
                                    htmlAttributes = new
                                    {
                                        @class = "form-control input-lg",
                                        @placeholder = @Localization.PhoneNumberLabel, data_bind = "value: phonenumber"
                                    }
                                })
                        </div>
                        @Html.ValidationMessageFor(model => model.Contact.PhoneNumber, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="my-input-group">
                        <div class="form-group has-feedback">
                            <img src="~/Content/Images/calendar.png"/>
                            @Html.EditorFor(model => model.Contact.Birthdate,
                                new
                                {
                                    htmlAttributes = new
                                    {
                                        @class = "form-control input-lg",
                                        @placeholder = Localization.Birthdate, data_bind = "value: birthdate"
                                    }
                                })
                        </div>
                        @Html.ValidationMessageFor(model => model.Contact.Birthdate, "", new {@class = "text-danger"})
                    </div>
                </div>

            </div>
        </div>
        
        @Html.ValidationMessageFor(model => model.Descriptions, "", new { @class = "text-danger" })
        <div class="richtext">
            <div class="row">
                <div class="col-xs-12">
                    <div id="editor">

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <button id="btn-send" data-bind="enable: activeSend" type="submit" class="btn btn-danger btn-lg text-uppercase">
                    @Localization.Send
                </button>

            </div>
        </div>

    </article>
}

@section scripts
{
    <script src="~/Scripts/ViewModel/ReservationViewModel.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var viewModel = new ReservationViewModel(@Html.HtmlConvertToJson(Model));
        ko.applyBindings(viewModel);
    </script>
}