@using System.ServiceModel.Activities
@using Reservations.App.Helper
@using Reservations.Core
@model IEnumerable<Reservations.App.Models.ReservationViewModel>

@{
    ViewBag.Title = Localization.TitleReservationsList;
    ViewBag.LabelBtn = Localization.TitleCreateReservation;
    ViewBag.Action = "Create";
    ViewBag.Controller = "Reservations";
}

<article class="index-list-page">

    @using (Html.BeginForm("Index", "Reservations", new {ViewBag.page, ViewBag.sort}, FormMethod.Post, new {id = "form-sort"}))
    {
        <article class="create-edit-contact">
            <div class="col-xs-12 col-sm-2 col-md-4">
                <div class="my-input-group">
                    <img src="~/Content/Images/filter.png"/>
                    @Html.DropDownList("sort", (List<SelectListItem>) this.ViewBag.listSorts, htmlAttributes: new {@class = "form-control input-lg", @id = "drowfiltre"})
                </div>
            </div>


            <h4>
                <div class="form-group-lg text-right">
                    @Html.ActionLink(Localization.TitleContactList, "Index", "Contacts")
                </div>
            </h4>

        </article>
    }

    <div style="display: none" data-bind="visible: reservations().length > 0">
        <table class="table table-responsive index-table">
            <tbody data-bind="foreach: reservations">
            <tr class="index-cell">
                <td>

                    <div class="col-xs-12 col-sm-6 col-md-2 container-none">
                        <img src="@Url.Content("~/Content/Images/reservationLogo.png")" alt="Image"
                             width="50" height="50"/>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-10">
                        <label data-bind="text: Contact.Name"> </label>
                        <br/>
                        <label data-bind="text: CreateDateLabel" class="label-date-disable"> </label>
                    </div>
                </td>

                <td class="container-none">
                    <div class="text-left">
                        <label>@Localization.RanKing</label>
                        <br/>
                        <input data-bind="attr: { id: ('imp-' + Id), value: RanKing}" type="text" class="rating">
                    </div>
                </td>

                <td >
                    <div class="text-left">
                        <label data-bind="click: $parent.changeFavorite, attr: { id: ('label-' + Id), class: (Favorite ? 'label-disable' : 'label-enable') }" >@Localization.AddFavorite</label> 
                        <img data-bind="click: $parent.changeFavorite, attr: { id: ('img-' + Id), class: (Favorite ? 'img-favorite-enable' : 'img-favorite-disable') }" alt="Image"/>
                    </div>
                </td>

                <td>
                    <div class="text-right">
                        <a data-bind="attr: { href : ('@Url.Action("Edit", "Reservations", new {ViewBag.page, ViewBag.sort})' +'&amp;id=' + Id)}" class="btn text-uppercase">
                            @Localization.Edit
                        </a>

                    </div>
                </td>

            </tr>
            </tbody>
        </table>
    </div>

    <!-- Pagination component -->
    <nav class="index-table-footer">
        <ul class="pagination">
            <li>
                <a href="@Url.Action("Index", "Reservations", new {page = 1, sort = ViewBag.sort})">
                    <span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span>
                </a>
            </li>

            @for (var i = 1; i <= ViewBag.PageCount; i++)
            {
                if (ViewBag.page == i)
                {
                    <li class="active">
                        <a href="@Url.Action("Index", "Reservations", new {page = i, sort = ViewBag.sort})">@i</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@Url.Action("Index", "Reservations", new {page = i, sort = ViewBag.sort})">@i</a>
                    </li>
                }
            }

            <li>
                <a href="@Url.Action("Index", "Reservations", new {page = @ViewBag.PageCount, sort = ViewBag.sort})">
                    <span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>


</article>


@section scripts
{
    <script src="~/Scripts/ViewModel/ReservationsViewModel.js"></script>
    <script>
        var viewModel = new ReservationsViewModel(@Html.HtmlConvertToJson(Model));
        ko.applyBindings(viewModel);
    </script>
}