@using Reservations.Core.Enums
@model Reservations.Core.Entities.Contact

@{
    ViewBag.Title = "Delete Contact";
    ViewBag.LabelBtn = "Contact List";
    ViewBag.Action = "Index";
    ViewBag.Controller = "Contacts";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactType)
        </dt>

        <dd>
            @{
                ContactTypeEnum.TryParse(Model.ContactType.ToString(), out ContactTypeEnum contType);
                ViewBag.type = contType.ToString();
            }
            <p>@ViewBag.type</p>
        </dd>

    </dl>
    </h4>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>
