@using Reservations.Core
@using Reservations.Core.Enums
@model Reservations.Core.Entities.Contact

@{
    ViewBag.Title = Localization.DeleteContact;
    ViewBag.LabelBtn = Localization.TitleContactList;
    ViewBag.Action = "Index";
    ViewBag.Controller = "Contacts";
}

<h4>@Localization.DeleteMsg</h4>
<div>
    <hr />
    <h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(Localization.Name + ":")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayName(Localization.PhoneNumber + ":")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayName(Localization.Birthdate + ":")
        </dt>

        <dd>
            @{
                ViewBag.Birthd = Model.Birthdate.ToString("dd-MM-yyyy");
            }
            <p>@ViewBag.Birthd</p>
        </dd>

        <dt>
            @Html.DisplayName(Localization.ContactType + ":")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactType.Description)
        </dd>

    </dl>
    </h4>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Localization.Delete" class="btn btn-default" />
        </div>
    }
</div>
