@using Reservations.Core
@using Reservations.Core.Enums
@model IEnumerable<Reservations.Core.Entities.Contact>

@{
    ViewBag.Title = Localization.TitleContactList;
    ViewBag.LabelBtn = Localization.CreateContact;
    ViewBag.Action = "Create";
    ViewBag.Controller = "Contacts";
}

<article class="index-list-page">


    <h4>
        <div class="text-right">
            
            @Html.ActionLink(Localization.TitleReservationsList, "Index", "Reservations")
        </div>
    </h4>

    <table class="table table-responsive index-table">
        <tr>
            <th style="text-align: left">
                @Html.DisplayName(Localization.Name)
            </th>
            <th style="text-align: left">
                @Html.DisplayName(Localization.PhoneNumber)
            </th>
            <th style="text-align: left">
                @Html.DisplayName(Localization.Birthdate)
            </th>
            <th style="text-align: left">
                @Html.DisplayName(Localization.ContactType)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="index-cell">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactType.Description)
                </td>
                <td>
                    @Html.ActionLink(Localization.Edit, "Edit", new { id = item.Id }) |
                    @Html.ActionLink(Localization.Delete, "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>


    <!-- Pagination component -->
    <nav class="index-table-footer">
        <ul class="pagination">
            <li>
                <a href="@Url.Action("Index", "Contacts", new {page = 1})">
                    <span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span>
                </a>
            </li>

            @for (var i = 1; i <= ViewBag.PageCount; i++)
            {
                if (ViewBag.page == i)
                {
                    <li class="active">
                        <a href="@Url.Action("Index", "Contacts", new {page = i})">@i</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@Url.Action("Index", "Contacts", new {page = i})">@i</a>
                    </li>
                }
            }

            <li>
                <a href="@Url.Action("Index", "Contacts", new {page = @ViewBag.PageCount})">
                    <span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>


</article>